main{
    background-color: rgba(33, 37, 41, 0.9);
    width: 62.5%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 10px;*/
    /*border-top: 4px solid #eaeaea;*/
    /*border-right: 4px solid #eaeaea;*/
    /*border-left: 4px solid #000000;*/
    /*border-bottom: 4px solid #000000;*/
}
.inputFields{
    margin: 10px;
}

.home > .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    padding: 0 5% 5% 5%;
    margin-top: 0px;
}

.home > .grid-container > div {
    background-color: rgba(48, 0, 3, 0);
    color: #eaeaea;
    text-align: center;
    font-size: 26px;
    font-family: "Segoe UI";
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    display: table;
}

/*.home > .grid-container > div > span {}*/
body {
    background-image: url('bgChronoxia.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.text{
    font-family: "Segoe UI";
    font-size: 22px;
    text-align: center;
    word-wrap: break-spaces;
    color: #eaeaea;
}
.header{
    font-family: "Segoe UI";
    font-size: 22px;
    text-align: center;
    color: #eaeaea;
}