<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webStore</title>
    <link th:href="@{./css/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{./css/http_stackpath.bootstrapcdn.com_bootstrap_4.5.0_css_bootstrap.css}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div th:insert="nav.html :: nav"></div>
<main>
    <p class="header">About us</p>
    <p class="text"> We are too lazy to have any delivery service so could u make everything by yourself </p>
</main>


</body>
</html>