<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>WebStore</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"-->
    <!--          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <link th:href="@{./css/default.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div th:insert="nav.html :: nav"></div>


<form class="filter" action="/filterByType" method="get">
    <div class="btn-group-vertical" data-toggle="button">
        <label class="btn btn-secondary active" th:each="pt : ${productsType}">
            <input type="checkbox" name="checkbox" th:value="${pt.getId()}" th:text="${pt.getType()}">
        </label>
    </div>
    <br><button type="submit" class="ababa">ababa</button>
</form>

<main>
    <form action="/createProduct" method="post">
        <div class="inputFields">
            <!--        <input type="text" placeholder="id" name="id">&ndash;&gt;-->
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="price" name="price">
            <select name="type">
                <option th:each="pt : ${productsType}" th:value="${pt.getId()}" th:text="${pt.getType()}">
                </option>
            </select>
            <button type="submit">popipo</button>
        </div>
    </form>

    <form action="/createProductType" method="post">
        <div class="inputFields">
            <input type="text" placeholder="type" name="type">
            <button type="submit">createType</button>
        </div>
    </form>

    <div class="home">
        <div class="grid-container">
            <div th:each="p : ${products}">
                <div>
                    <img src="image/bear.jpg" width="200" height="200">
                    <span th:text="${p.getName()}" id="getName"></span>
                    <br><span th:text="${p.getPrice()}"></span>
                    <br><span th:text="${p.getProductType().getType()}"></span>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="js/popipo.js"></script>

<script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/1.14.1/popper.min.js"></script>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</body>
</html>