<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>WebStore</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">

    <link th:href="@{./css/default.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div th:insert="nav.html :: nav"></div>
<p id="testInput" style="size: 20px"></p>
<div class="filter">
    <div class="btn-group-vertical" data-toggle="button" id="typeCheckbox">
            <!-- CHECK BOXES WILL BE INSERTED HERE -->
    </div>
    <br>
    <button class="ababa" id="ababa" onclick=filterByType('/filterByTypeAJAX')>ababa</button>
</div>

<main>
    <div class="inputFields">
        <input type="text" placeholder="name" name="name" id="inputName">
        <input type="text" placeholder="price" name="price" id="inputPrice">
        <select name="type" id="productTypeSelect">
<!--            PRODUCT TYPE SELECT FOR CREATING NEW PRODUCT WILL BE HERE -->
        </select>
        <button onclick=createProduct('/createProductAJAX')>popipo</button>
    </div>

    <div class="inputFields">
        <input type="text" placeholder="type" name="type" id="createProductTypeInput">
        <button onclick=createType("/createProductTypeAJAX")>createType</button>
    </div>

    <div class="home">
        <div class="grid-container" id="productList">
<!--            IMG OF THE BEAR, PRODUCT NAME, PRICE AND TYPE WILL BE INSERTED HERE-->
        </div>
    </div>
</main>

<script src="js/popipo.js"></script>
<script src="js/productListAJAX.js"></script>
<script src="js/createTypeAJAX.js"></script>
<script src="js/createProductAJAX.js"></script>
<script src="js/filterByTypeAJAX.js"></script>

<script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/1.14.1/popper.min.js"></script>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

</body>
</html>